@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
body {
  font-family: 'Nunito Sans', sans-serif;
  background: rgb(236, 234, 234);
  margin:0; padding:0;
  outline: none; border: 1%;
  text-decoration: none;
  transition: .2s linear;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.nav{
  position: fixed;
  top: 0, left 0; right: 0;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  z-index:1000;
  justify-content: space-between;
  padding: 1.5rem 9%;
  color: black;

}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}
.navbar span{
  color: blue;
}
li {
  margin-right: 100px;
}
#Home 

div {
  text-align: center;
  margin-top: 100px; 
}
.content {
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}
.content h3{
  font-size:  50px;
  
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #41658b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
}

button:hover {
  background-color: #0a2139;
}
