.App {
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #fefefe;
  padding: 25px;
  margin: -1%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 40px;
}

Link {
  text-decoration: none;
  color: #f3efef;
  font-weight: bold;
  font-size: 19px;
  transition: color 0.3s ease;
}

