.project {
    max-width: 500px;
    height: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #dbd6d6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e7e7ec;
    margin-top: 80px;
    justify-content: center;
  }
  .project  {
    text-align: center;
    color: #080808;
    font-size: larger;  
  }
  
  .project  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e3dbdb82;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 670px;
  }
  
  .project  label {
    margin-bottom: -3px;
    text-align: right;
  }
  
  .project   input {
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    row-gap: 1rem;
    width:300px;
    margin-left: 30px;
  }
  
  .project  button {
    padding: 10px;
    background-color: #3b92ef;
    color: #322929;
    border-radius: 3px;
    margin-top: 40px;
  }
  
  .project   button:hover {
    background-color: #3a70aa;
  }
  
  .project  p {
    text-align: center;
  }
  
  .project   a {
    color: #007bff;
    text-decoration: none;
  }
  
  .project  a:hover {
    text-decoration: underline;
  }
  .project   p.error-message {
    color: red;
    text-align: center;
  }
  .project   label{
    text-align: left;
  }
  

  