.context {
  max-width: 450px;
  height: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #dbd6d6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e7e7ec;
  margin-top: 80px;
  justify-content: center;
}
.context h1 {
  text-align: left;
  font-size: larger;
  margin-bottom: -20px;
}
.context h2 {
  text-align:  center;
}
.context form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  margin: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e3dbdb82;
  justify-content: left;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 280px;
}

.context label {
  margin-bottom: 10px;
  text-align: center;
}

.context input {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  row-gap: 1rem;
  width:300px;
  margin-top: 30px;
}

.context button {
  padding: 10px;
  background-color: #3b92ef;
  color: #322929;
  border-radius: 3px;
  margin-top: 60px;
}

button:hover {
  background-color: #3a70aa;
}

.context p {
  text-align: center;
}

.contexta {
  color: #007bff;
  text-decoration: none;
}

.context a:hover {
  text-decoration: underline;
}
.context p.error-message {
  color: red;
  text-align: center;
  margin-top: 1px;
}
.d {
  margin-top: 90px;
  text-align: center;
}