.context {
  max-width: 500px;
  height: 550px;
  margin: auto;
  padding: 20px;
  border: 1px solid #dbd6d6;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e7e7ec;
  margin-top: 80px;
  margin-left: 250px;
}
.context h2 {
  text-align: center;
  color: #080808;
  font-size: larger;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #e3dbdb82;
  justify-content: left;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 350px;
}

.context label {
  margin-bottom: 10px;
  font-weight: bold;
}

input {
  padding: 5px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.context button {
  padding: 10px;
  background-color: #3b92ef;
  color: #322929;
  border-radius: 3px;
}

button:hover {
  background-color: #59a1ee;
}

p {
  margin-top: 10px;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p.error-message {
  color: red;
  text-align: center;
}